<main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/imgs/card01.jpg" style="margin: auto;" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/imgs/card02.jpg" style="margin: auto;" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/imgs/card03.jpg" style="margin: auto;" class="d-block" alt="...">
          </div>
        </div>
      </div>
</main>