<main>
    <div class="card-group">
        <div class="card">
          <img src={{celulares[0].img}} class="card-img-top" style="height: 80%;" alt="Produto1">
          <div class="card-body">
            <h5 class="card-title">{{celulares[0].nome}}</h5>
          </div>
        </div>
        <div class="card">
          <img src={{celulares[1].img}} class="card-img-top" style="height: 80%;" alt="Produto2">
          <div class="card-body">
            <h5 class="card-title">{{celulares[1].nome}}</h5>
          </div>
        </div>
        <div class="card">
          <img src={{celulares[2].img}} class="card-img-top" style="height: 80%;" alt="Produto3">
          <div class="card-body">
            <h5 class="card-title">{{celulares[2].nome}}</h5>
          </div>
        </div>
      </div>
</main>