<main>
    <div class="card-group">
        <div class="card">
          <img src="assets/imgs/produto01.jpg" class="card-img-top" style="height: 80%;" alt="Produto1">
          <div class="card-body">
            <h5 class="card-title">Apple Iphone 7 Plus</h5>
          </div>
        </div>
        <div class="card">
          <img src="assets/imgs/produto02.jpg" class="card-img-top" style="height: 80%;" alt="Produto2">
          <div class="card-body">
            <h5 class="card-title">Motorola G9</h5>
          </div>
        </div>
        <div class="card">
          <img src="assets/imgs/produto03.jpg" class="card-img-top" style="height: 80%;" alt="Produto3">
          <div class="card-body">
            <h5 class="card-title">Samsung J8</h5>
          </div>
        </div>
      </div>
</main>